<h1>Data Science Tools and Ecosystem</h1>

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
* List popular languages for Data Science
* Capabilities of R and its uses
* Capabilities of Jupyter and its uses

In [ ]:
Some of the popular languages that Data Scientists use are:
1. Phyton
2. R
3. C++

Some of the commonly used libraries used by Data Scientists include:
1.  Panda
2.  Ploty
3.  TensorFlow

|Data Science Tool|
|----------|
|Jupyter|
|Git|
|R Studio|
|Git Hub|

<h3> Below are a few examples of evaluating arithmetic expressions in Python <h3>

In [7]:
#This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [10]:
#This will convert 200 minutes to hours by diving
200/60

3.3333333333333335

<h2> Author </h2>
<h2> Tatiana Alarcon</h2>